<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../css/ha_common.css" media="all" />
	</head>

	<body>
		<div style="margin:15px;">
			<div class="layui-tab layui-tab-card">
				<ul class="layui-tab-title">
					<li class="layui-this">我的图库</li>
					<li>上传图片</li>

				</ul>
				<div class="layui-tab-content">
					<div class="layui-tab-item layui-show">
						<ul class="site-doc-icon" id="LAY_demo3">
							<li>
								<img lay-src="https://gw.alicdn.com/bao/uploaded/i2/701696736/TB2PNl5ahQa61Bjy0FhXXaalFXa_!!701696736.jpg_400x400q90.jpg?t=1517378838051">
								<a class="close-modal small">×</a>
							</li>
							<li>
								<img lay-src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1517378838051">
								<a class="close-modal small">×</a>
							</li>
							<li>
								<img lay-src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1517378838051">
								<a class="close-modal small">×</a>
							</li>
							<li>
								<img lay-src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1517378838051">
							</li>
							<li>
								<img lay-src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1517378838051">
							</li>
							<li>
								<img lay-src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1517378838051">
							</li>
							<li>
								<img lay-src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1517378838051">
							</li>
							<li>
								<img lay-src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1517378838051">
							</li>
							<li>
								<img lay-src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1517378838051">
							</li>
							<li>
								<img lay-src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1517378838051">
							</li>
							<li>
								<img lay-src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1517378838051">
							</li>
							<li>
								<img lay-src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1517378838051">
							</li>
							<li>
								<img lay-src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1517378838051">
							</li>
							<li>
								<img lay-src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1517378838051">
							</li>
							<li>
								<img lay-src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1517378838051">
							</li>
							<li>
								<img lay-src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1517378838051">
							</li>
						</ul>
					</div>
					<div class="layui-tab-item">
						<div class="layui-upload">
							<button type="button" class="layui-btn" id="openFileBtn">多图片上传</button> <label>仅支持gif、jpg、jpeg、png 3种格式, 大小不超过3.0 MB</label>
							<blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
								预览图：
								<div class="layui-upload-list" id="fileListDiv"></div>
							</blockquote>
							<button type="button" class="layui-btn" id="beginUploadBtn">确定上传</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
		<script>
			//Demo
			layui.use(['element', 'flow', 'upload'], function() {
				var $ = layui.jquery,
					upload = layui.upload,
					flow = layui.flow,
					element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
				//按屏加载图片
				flow.lazyimg();
				//多图片上传
				upload.render({
					elem: '#openFileBtn',
					url: '/admin/good/listData',
					size: 3 * 1024 //限制文件大小，单位 KB
						,
					exts: 'jpg|png|jpeg|gif' //只允许上传的文件类型
						,
					multiple: true,
					auto: false //不自动上传
						,
					choose: function(obj) {
						//预读本地文件示例，不支持ie8
						obj.preview(function(index, file, result) {
							$('#fileListDiv').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img">')
						});
					},
					bindAction: '#beginUploadBtn',
					done: function(res) {
						//上传完毕
						location.reload();
					}
				});
			});
		</script>
	</body>

</html>