<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />
	</head>

	<body style="overflow-y: scroll;">
		<div style="margin:15px;">
			<blockquote class="layui-elem-quote layui-text" id="haCommonBtn">
				进行商品分类的添加、编辑和删除。
				<button class="layui-btn layui-btn-primary" data-type="goodsCategoryAddBtn">分类添加</button>
				<button class="layui-btn layui-btn-primary">分类导入</button>
			</blockquote>
			<table class="layui-table" lay-data="{url:'/admin/good/category/listData',cellMinWidth: 80, page:true, id:'haTable'}" lay-filter="haList">
				<thead>
					<tr>
						<th lay-data="{type:'checkbox', fixed: 'left'}"></th>
						<th lay-data="{field:'category_id', width:80, sort: true, fixed: true}">ID</th>
						<th lay-data="{field:'category_name'}">分类名称</th>
						<th lay-data="{field:'parent_name'}">上级分类</th>
						<th lay-data="{field:'full_name'}">分类全称</th>
						<th lay-data="{fixed: 'right',  align:'center', toolbar: '#haToolBtn'}">操作</th>
					</tr>
				</thead>
			</table>

			<script type="text/html" id="haToolBtn">
				<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
				<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
			</script>
		</div>
		<script type="text/javascript" src="/plugins/layui/layui.js"></script>
		<script>
			layui.use(['table', 'layer', 'form'], function() {
				var table = layui.table,
				form = layui.form,
				 $ = layui.$,
				active = {
					goodsCategoryAddBtn: function() {
						var index = layer.open({
							type: 2,
							area: ['480px', '300px'],
							title: '商品分类添加',
							content: '/admin/good/category/add' //iframe的url
						});
						 layer.full(index);
					},

				};
				//监听工具条
				table.on('tool(haList)', function(obj) {
					var data = obj.data;
					console.log(data);
					if(obj.event === 'del') {
						layer.confirm('真的要删除' + data.category_name + '?', {
							icon: 3,
							title: '删除提示'
						}, function(index) {
							$.ajax({
								  type: 'POST',
								  data:data,
								  url: '/admin/good/category/ajax_del',
								  success: function(result){
									  if(result.returnCode=='SUCCESS'){
										  obj.del();
										  layer.close(index);
									  }else{
										  layer.alert(result.returnMsg);
									  }
								  },
								  dataType: 'json'
								});  
							
						});
					} else if(obj.event === 'edit') {
						var index = layer.open({
							type: 2,
							area: ['480px', '300px'],
							title: '商品分类编辑',
							content: '/admin/good/category/edit?category_id='+data.category_id //iframe的url
						});
						 layer.full(index);
					}
				});
				
				
				//监听操作区按钮
				$('#haCommonBtn .layui-btn').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});
			});
		</script>
	</body>
</html>