<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
	</head>

	<body>
<div style="margin:15px;">
<blockquote class="layui-elem-quote layui-text">
  商品库可以添加商品或是按格式进行导入商品。
  <button class="layui-btn layui-btn-primary" id="goodsAddBtn">商品添加</button>
  <button class="layui-btn layui-btn-primary">商品导入</button>
</blockquote>
<table class="layui-table" lay-data="{url:'/admin/good/listData',cellMinWidth: 80, page:true, id:'idTest'}" lay-filter="demo">
  <thead>
    <tr>
      <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
      <th lay-data="{field:'id', width:80, sort: true, fixed: true}">ID</th>
      <th lay-data="{field:'goodsname', width:160}">商品名称</th>
      <th lay-data="{field:'sex', width:160}">规格</th>
      <th lay-data="{field:'city', width:160}">商品分类</th>
      <th lay-data="{field:'sign', width:160}">销售渠道</th>
      <th lay-data="{field:'experience', width:160, sort: true}">单位</th> 
      <th lay-data="{field:'classify', width:160}">可售库存</th>
      <th lay-data="{fixed: 'right',  align:'center', toolbar: '#barDemo'}">操作</th>
    </tr>
  </thead>
</table>
 
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</div>
 <script type="text/javascript" src="../../plugins/layui/layui.js"></script>
<script>


layui.use(['table','layer','form'], function(){
	  var table = layui.table;
	  var form = layui.form;
	  //监听表格复选框选择
	  table.on('checkbox(demo)', function(obj){
	    console.log(obj)
	  });
	//监听提交
	  form.on('submit(demo1)', function(data){
	    layer.alert(JSON.stringify(data.field), {
	      title: '最终的提交信息'
	    })
	    return false;
	  });
	  //监听工具条
	  table.on('tool(demo)', function(obj){
	    var data = obj.data;
	    if(obj.event === 'detail'){
	      layer.msg('ID：'+ data.id + ' 的查看操作');
	    } else if(obj.event === 'del'){
	      layer.confirm('真的删除行么', function(index){
	        obj.del();
	        layer.close(index);
	      });
	    } else if(obj.event === 'edit'){
	      layer.alert('编辑行：<br>'+ JSON.stringify(data))
	    }
	  });
	  
	  var $ = layui.$, active = {
	    getCheckData: function(){ //获取选中数据
	      var checkStatus = table.checkStatus('idTest')
	      ,data = checkStatus.data;
	      layer.alert(JSON.stringify(data));
	    }
	    ,getCheckLength: function(){ //获取选中数目
	      var checkStatus = table.checkStatus('idTest')
	      ,data = checkStatus.data;
	      layer.msg('选中了：'+ data.length + ' 个');
	    }
	    ,isAll: function(){ //验证是否全选
	      var checkStatus = table.checkStatus('idTest');
	      layer.msg(checkStatus.isAll ? '全选': '未全选')
	    }
	  };
	  
	  $('.demoTable .layui-btn').on('click', function(){
	    var type = $(this).data('type');
	    active[type] ? active[type].call(this) : '';
	  });
	  $("#goodsAddBtn").on('click',function(){
		  var index=layer.open({
			  type: 2,
			  title: '商品添加',
			  content: '/admin/good/add' //iframe的url
			}); 
		  layer.full(index);
	  });
	
	});
</script>
</body>
</html>