<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>恒爱科技--后台运营系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<link rel="icon" type="image/x-icon" href="images/favicon.ico">
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../css/global.css" media="all">
		<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
	</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<#include "/public/header.html"/>
			<div class="layui-side layui-bg-black" id="admin-side">
				<div class="layui-side-scroll" id="admin-navbar-side">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree" lay-filter="demo">
						<li class="layui-nav-item layui-nav-itemed">
							<a class="" href="javascript:;">应用管理</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="javascript:;">线上应用</a>
								</dd>
								<dd>
									<a href="javascript:;">线下应用</a>
								</dd>
								<dd>
									<a href="javascript:;">第三方应用</a>
								</dd>
							</dl>
						</li>
						<li class="layui-nav-item layui-nav-itemed">
							<a class="" href="javascript:;">硬件管理</a>
							<dl class="layui-nav-child">
								<dd>
									<a class="site-demo-active" data-id="shopman" data-url="/admin/shop" data-type="tabAdd" href="javascript:;">收银设备管理</a>
								</dd>
								<dd>
									<a href="javascript:;">零售硬件管理</a>
								</dd>
								<dd>
									<a href="javascript:;">WIFI管理</a>
								</dd>
							</dl>
						</li>
						<li class="layui-nav-item layui-nav-itemed">
							<a class="" href="javascript:;">系统管理</a>
							<dl class="layui-nav-child">
								<dd>
									<a class="site-demo-active" data-id="shopman" data-url="/admin/shop" data-type="tabAdd" href="javascript:;">系统设置</a>
								</dd>
							</dl>
						</li>

					</ul>
				</div>
			</div>
			<div class="layui-body" style="bottom: 0; border-left: solid 2px #1AA094;" id="admin-body">
				<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab" lay-allowclose="true">
					<ul class="layui-tab-title">
						<li class="layui-this"><i class="fa fa-dashboard" aria-hidden="true"></i> <cite>商品发布</cite></li>
					</ul>

					<div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
						<div class="layui-tab-item layui-show" style="width: 100%; height: 500px;" id="mainCharts"></div>
					</div>
				</div>
			</div>
			<#include "/public/footer.html"/>
		</div>
		<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
		
		<script>
			layui.use('element', function() {
				var $ = layui.jquery,
					element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
				//触发事件
				var active = {
					tabAdd: function(othis) {
						alert(othis.data('url'));
						//新增一个Tab项
						element.tabAdd('admin-tab', {
							title: '新选项' + (Math.random() * 1000 | 0), //用于演示,
							content: '<iframe src="/admin/system" data-id="sdfsfsd"></iframe>',
							id: othis.data('id') //实际使用一般是规定好的id，这里以时间戳模拟下
						});
						element.tabChange('admin-tab', othis.data('id'));
					},
					tabDelete: function(othis) {
						//删除指定Tab项
						element.tabDelete('demo', '44'); //删除：“商品管理”

						othis.addClass('layui-btn-disabled');
					},
					tabChange: function() {
						//切换到指定Tab项
						element.tabChange('demo', '22'); //切换到：用户管理
					}
				};

				$('.site-demo-active').on('click', function() {
					var othis = $(this),
						type = othis.data('type');
					active[type] ? active[type].call(this, othis) : '';
				});

			});
		</script>
	</body>
</html>