<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>恒爱科技--后台运营系统</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="icon" type="image/x-icon" href="images/favicon.ico">
<link rel="stylesheet" href="../../plugins/layui/css/layui.css"
	media="all" />
<link rel="stylesheet" href="../../css/global.css" media="all">
<link rel="stylesheet"
	href="../../plugins/font-awesome/css/font-awesome.min.css">
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<#include "/public/header.html"/>
		<div class="layui-side layui-bg-black" id="admin-side">
			<div class="layui-side-scroll" id="admin-navbar-side">
				<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
				<ul class="layui-nav layui-nav-tree" lay-filter="demo">
					<li class="layui-nav-item layui-nav-itemed"><a class=""
						href="javascript:;">商品管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a class="site-menu-active" data-id="good-list" data-title="商品库" data-url="/admin/good/list" data-type="tabAdd" href="javascript:;">商品库</a>
							</dd>
							<dd>
								<a class="site-menu-active" data-id="good-net" data-title="网店商品" data-url="/admin/good/net" data-type="tabAdd" href="javascript:;">网店商品</a>
							</dd>
							<dd>
								<a class="site-menu-active" data-id="good-local" data-title="门店商品" data-url="/admin/good/local" data-type="tabAdd" href="javascript:;">门店商品</a>
							</dd>
							<dd>
								<a class="site-menu-active" data-id="good-category" data-title="商品分类" data-url="/admin/good/category" data-type="tabAdd" href="javascript:;">商品分类</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item layui-nav-itemed"><a class=""
						href="javascript:;">库存管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a class="site-menu-active" data-id="inventory" data-title="库存查询" data-url="/admin/inventory/search" data-type="tabAdd" href="javascript:;">库存查询</a>
							</dd>
							<dd>
								<a class="site-menu-active" data-id="inventory-supplier" data-title="供应商管理" data-url="/admin/supplier" data-type="tabAdd" href="javascript:;">供应商管理</a>
							</dd>
							
							<dd>
								<a class="site-menu-active" data-id="inventory-purchase" data-title="商品入库" data-url="/admin/inventory/purchase" data-type="tabAdd" href="javascript:;">商品入库</a>
							</dd>
							<dd>
								<a class="site-menu-active" data-id="inventory-invtransfer" data-title="商品出库" data-url="/admin/inventory/invtransfer" data-type="tabAdd" href="javascript:;">商品出库</a>
							</dd>
							<dd>
								<a class="site-menu-active" data-id="inventory-invcheck" data-title="库存盘点" data-url="/admin/inventory/invcheck" data-type="tabAdd" href="javascript:;">库存盘点</a>
							</dd>
							<dd>
								<a class="site-menu-active" data-id="inventory-invsetting" data-title="库存预警" data-url="/admin/inventory/invsetting" data-type="tabAdd" href="javascript:;">库存预警</a>
							</dd>
						</dl></li>

				</ul>
			</div>
		</div>
		<div class="layui-body"
			style="bottom: 0; border-left: solid 2px #1AA094;" id="good-body">
			<div class="layui-tab admin-nav-card layui-tab-brief"
				lay-filter="good-tab" lay-allowclose="true" id="good-div">
				<ul class="layui-tab-title">

				</ul>
				<div class="layui-tab-content"
					style="min-height: 150px; padding: 5px 0 0 0;"></div>
			</div>

		</div>
		<#include "/public/footer.html"/>
	</div>
	<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
	<!-- <script type="text/javascript" src="../../js/tab.js"></script> -->
	<script>
			
			layui.use('element', function() {
				var $ = layui.jquery,
					element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
					//iframe自适应
					$(window).on('resize', function() {
						var $content = $('.layout-nav-card .layui-tab-content');
						$content.height($(this).height() - 165);
						$content.find('iframe').each(function() {
							$(this).height($content.height());
						});
					}).resize();
				//触发事件
				var active = {
					tabAdd: function(othis) {
						//判断是否已经存在tab
						var tabIndex=-1;
						$("#good-div").children('ul.layui-tab-title').find('li').each(function (i, e) {
				            var $cite = $(this).children('cite');
				            console.log($cite);
				            if ($cite.text() === othis.data('title')) {
				                tabIndex = i;
				            };
				        });
						if(tabIndex==-1){
							var iframeHeight=$(window).height()-165;
							//新增一个Tab项
							element.tabAdd('good-tab', {
								title: '<cite>'+othis.data('title')+'</cite>', //用于演示,
								content: '<iframe style="height: '+iframeHeight+'px;" src="'+othis.data('url')+'" data-id="'+othis.data('id')+'"></iframe>',
								id: othis.data('id') //实际使用一般是规定好的id，这里以时间戳模拟下
							});
						}
						
						element.tabChange('good-tab', othis.data('id'));
						
					
					},
					tabDelete: function(othis) {
						//删除指定Tab项
						element.tabDelete('demo', '44'); //删除：“商品管理”

						//othis.addClass('layui-btn-disabled');
					},
					tabChange: function() {
						//切换到指定Tab项
						element.tabChange('demo', '22'); //切换到：用户管理
					}
				};

				$('.site-menu-active').on('click', function() {
					var othis = $(this),
						type = othis.data('type');
					active[type] ? active[type].call(this, othis) : '';
				});

			});
		</script>
</body>
</html>