<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>恒爱科技--运营后台</title>
		<link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../css/login.css" />
	</head>

	<body class="beg-login-bg layui-anim layui-anim-upbit">
		<div class="beg-login-box">
			<header>
				<h1>恒爱科技--运营后台</h1>
			</header>
			<div class="beg-login-main">
				<form action="" class="layui-form" method="post"><input name="token" type="hidden" value="fkfh8D89BFqTdrE2iiSdG_L781RSRtdWOH411poVUWhxzA5MzI8es07g6KPYQh9Log-xf84pIR2RIAEkOokZL3Ee3UKmX0Jc8bW8jOdhqo81" />
					<div class="layui-form-item">
						<label class="beg-login-icon">
                        <i class="layui-icon">&#xe612;</i>
                    </label>
						<input type="text" name="username" lay-verify="username" autocomplete="off" placeholder="这里输入登录名" class="layui-input" value="">
					</div>
					<div class="layui-form-item">
						<label class="beg-login-icon">
                        <i class="layui-icon">&#xe642;</i>
                    </label>
						<input type="password" name="password" lay-verify="password" autocomplete="off" placeholder="这里输入密码" class="layui-input" value="">
					</div>
					<div class="layui-form-item">
						<div class="beg-pull-right">
							<button class="layui-btn layui-btn-primary" lay-submit lay-filter="login">
                            <i class="layui-icon">&#xe650;</i> 登录
                        </button>
						</div>
						
						<div class="beg-clear"></div>
					</div>
					<#if SPRING_SECURITY_LAST_EXCEPTION??>
						<p style="color:red;">${SPRING_SECURITY_LAST_EXCEPTION.message}</p>
						</#if>
				</form>
			</div>
			<footer>
				<p>恒爱科技 @ <a href="http://www.hengaiw.com">www.hengaiw.com</a> 2017-2020</p>
			</footer>
		</div>
		<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
		
	</body>

</html>