.layui-form-item .layui-input-inline {
	width: 290px;
}

.ha-box {
	display: inline-block;
	margin-left: 10px;
	width: 80px;
	height: 80px;
	border: 2px dashed #e5e5e5;
	line-height: 71px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	font-size: 36px;
	color: #e5e5e5;
	cursor: pointer;
	overflow: hidden;
	text-decoration: none;
}

/* 宫格 */
.site-doc-icon {
	margin-bottom: 50px;
	font-size: 0;
}

.site-doc-icon li {
	display: inline-block;
	vertical-align: middle;
	padding: 2px 0;
	border: 2px solid #e2e2e2;
	cursor: pointer;
	position: relative;
}

.site-doc-icon li img {
	width: 125px;
	line-height: 25px;
}

.layui-upload-img {
	width: 92px;
	height: 92px;
	margin: 0 10px 10px 0;
}

.site-doc-icon li a.close-modal {
	display: block;
	position: absolute;
	z-index: 2;
	top: -1px;
	right: -1px;
	width: 20px;
	height: 20px;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	background: hsla(0, 0%, 60%, .6);
	border-radius: 10px;
}

.site-doc-icon li a.close-modal:hover {
	display: block;
	color: #fff;
	background: #000
}