<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengaiw.model.dao.mapper.HaBillErrorMapper">
  <resultMap id="BaseResultMap" type="com.hengaiw.model.dao.model.HaBillError">
    <id column="bill_error_id" jdbcType="INTEGER" property="bill_error_id" />
    <result column="bill_id" jdbcType="INTEGER" property="bill_id" />
    <result column="pay_order_sn" jdbcType="VARCHAR" property="pay_order_sn" />
    <result column="order_amount" jdbcType="INTEGER" property="order_amount" />
    <result column="channel_orderno" jdbcType="VARCHAR" property="channel_orderno" />
    <result column="channel_order_amount" jdbcType="INTEGER" property="channel_order_amount" />
    <result column="bill_error_type" jdbcType="BIT" property="bill_error_type" />
    <result column="bill_error_status" jdbcType="BIT" property="bill_error_status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hengaiw.model.dao.model.HaBillError">
    <result column="bill_error_res" jdbcType="LONGVARCHAR" property="bill_error_res" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bill_error_id, bill_id, pay_order_sn, order_amount, channel_orderno, channel_order_amount, 
    bill_error_type, bill_error_status, create_time
  </sql>
  <sql id="Blob_Column_List">
    bill_error_res
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.hengaiw.model.dao.model.HaBillErrorExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ha_bill_error
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.hengaiw.model.dao.model.HaBillErrorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ha_bill_error
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ha_bill_error
    where bill_error_id = #{bill_error_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ha_bill_error
    where bill_error_id = #{bill_error_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hengaiw.model.dao.model.HaBillErrorExample">
    delete from ha_bill_error
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hengaiw.model.dao.model.HaBillError">
    <selectKey keyProperty="bill_error_id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ha_bill_error (bill_id, pay_order_sn, order_amount, 
      channel_orderno, channel_order_amount, 
      bill_error_type, bill_error_status, create_time, 
      bill_error_res)
    values (#{bill_id,jdbcType=INTEGER}, #{pay_order_sn,jdbcType=VARCHAR}, #{order_amount,jdbcType=INTEGER}, 
      #{channel_orderno,jdbcType=VARCHAR}, #{channel_order_amount,jdbcType=INTEGER}, 
      #{bill_error_type,jdbcType=BIT}, #{bill_error_status,jdbcType=BIT}, #{create_time,jdbcType=TIMESTAMP}, 
      #{bill_error_res,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hengaiw.model.dao.model.HaBillError">
    <selectKey keyProperty="bill_error_id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ha_bill_error
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bill_id != null">
        bill_id,
      </if>
      <if test="pay_order_sn != null">
        pay_order_sn,
      </if>
      <if test="order_amount != null">
        order_amount,
      </if>
      <if test="channel_orderno != null">
        channel_orderno,
      </if>
      <if test="channel_order_amount != null">
        channel_order_amount,
      </if>
      <if test="bill_error_type != null">
        bill_error_type,
      </if>
      <if test="bill_error_status != null">
        bill_error_status,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="bill_error_res != null">
        bill_error_res,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bill_id != null">
        #{bill_id,jdbcType=INTEGER},
      </if>
      <if test="pay_order_sn != null">
        #{pay_order_sn,jdbcType=VARCHAR},
      </if>
      <if test="order_amount != null">
        #{order_amount,jdbcType=INTEGER},
      </if>
      <if test="channel_orderno != null">
        #{channel_orderno,jdbcType=VARCHAR},
      </if>
      <if test="channel_order_amount != null">
        #{channel_order_amount,jdbcType=INTEGER},
      </if>
      <if test="bill_error_type != null">
        #{bill_error_type,jdbcType=BIT},
      </if>
      <if test="bill_error_status != null">
        #{bill_error_status,jdbcType=BIT},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="bill_error_res != null">
        #{bill_error_res,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hengaiw.model.dao.model.HaBillErrorExample" resultType="java.lang.Long">
    select count(*) from ha_bill_error
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ha_bill_error
    <set>
      <if test="record.bill_error_id != null">
        bill_error_id = #{record.bill_error_id,jdbcType=INTEGER},
      </if>
      <if test="record.bill_id != null">
        bill_id = #{record.bill_id,jdbcType=INTEGER},
      </if>
      <if test="record.pay_order_sn != null">
        pay_order_sn = #{record.pay_order_sn,jdbcType=VARCHAR},
      </if>
      <if test="record.order_amount != null">
        order_amount = #{record.order_amount,jdbcType=INTEGER},
      </if>
      <if test="record.channel_orderno != null">
        channel_orderno = #{record.channel_orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.channel_order_amount != null">
        channel_order_amount = #{record.channel_order_amount,jdbcType=INTEGER},
      </if>
      <if test="record.bill_error_type != null">
        bill_error_type = #{record.bill_error_type,jdbcType=BIT},
      </if>
      <if test="record.bill_error_status != null">
        bill_error_status = #{record.bill_error_status,jdbcType=BIT},
      </if>
      <if test="record.create_time != null">
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bill_error_res != null">
        bill_error_res = #{record.bill_error_res,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update ha_bill_error
    set bill_error_id = #{record.bill_error_id,jdbcType=INTEGER},
      bill_id = #{record.bill_id,jdbcType=INTEGER},
      pay_order_sn = #{record.pay_order_sn,jdbcType=VARCHAR},
      order_amount = #{record.order_amount,jdbcType=INTEGER},
      channel_orderno = #{record.channel_orderno,jdbcType=VARCHAR},
      channel_order_amount = #{record.channel_order_amount,jdbcType=INTEGER},
      bill_error_type = #{record.bill_error_type,jdbcType=BIT},
      bill_error_status = #{record.bill_error_status,jdbcType=BIT},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      bill_error_res = #{record.bill_error_res,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ha_bill_error
    set bill_error_id = #{record.bill_error_id,jdbcType=INTEGER},
      bill_id = #{record.bill_id,jdbcType=INTEGER},
      pay_order_sn = #{record.pay_order_sn,jdbcType=VARCHAR},
      order_amount = #{record.order_amount,jdbcType=INTEGER},
      channel_orderno = #{record.channel_orderno,jdbcType=VARCHAR},
      channel_order_amount = #{record.channel_order_amount,jdbcType=INTEGER},
      bill_error_type = #{record.bill_error_type,jdbcType=BIT},
      bill_error_status = #{record.bill_error_status,jdbcType=BIT},
      create_time = #{record.create_time,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengaiw.model.dao.model.HaBillError">
    update ha_bill_error
    <set>
      <if test="bill_id != null">
        bill_id = #{bill_id,jdbcType=INTEGER},
      </if>
      <if test="pay_order_sn != null">
        pay_order_sn = #{pay_order_sn,jdbcType=VARCHAR},
      </if>
      <if test="order_amount != null">
        order_amount = #{order_amount,jdbcType=INTEGER},
      </if>
      <if test="channel_orderno != null">
        channel_orderno = #{channel_orderno,jdbcType=VARCHAR},
      </if>
      <if test="channel_order_amount != null">
        channel_order_amount = #{channel_order_amount,jdbcType=INTEGER},
      </if>
      <if test="bill_error_type != null">
        bill_error_type = #{bill_error_type,jdbcType=BIT},
      </if>
      <if test="bill_error_status != null">
        bill_error_status = #{bill_error_status,jdbcType=BIT},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="bill_error_res != null">
        bill_error_res = #{bill_error_res,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where bill_error_id = #{bill_error_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hengaiw.model.dao.model.HaBillError">
    update ha_bill_error
    set bill_id = #{bill_id,jdbcType=INTEGER},
      pay_order_sn = #{pay_order_sn,jdbcType=VARCHAR},
      order_amount = #{order_amount,jdbcType=INTEGER},
      channel_orderno = #{channel_orderno,jdbcType=VARCHAR},
      channel_order_amount = #{channel_order_amount,jdbcType=INTEGER},
      bill_error_type = #{bill_error_type,jdbcType=BIT},
      bill_error_status = #{bill_error_status,jdbcType=BIT},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      bill_error_res = #{bill_error_res,jdbcType=LONGVARCHAR}
    where bill_error_id = #{bill_error_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengaiw.model.dao.model.HaBillError">
    update ha_bill_error
    set bill_id = #{bill_id,jdbcType=INTEGER},
      pay_order_sn = #{pay_order_sn,jdbcType=VARCHAR},
      order_amount = #{order_amount,jdbcType=INTEGER},
      channel_orderno = #{channel_orderno,jdbcType=VARCHAR},
      channel_order_amount = #{channel_order_amount,jdbcType=INTEGER},
      bill_error_type = #{bill_error_type,jdbcType=BIT},
      bill_error_status = #{bill_error_status,jdbcType=BIT},
      create_time = #{create_time,jdbcType=TIMESTAMP}
    where bill_error_id = #{bill_error_id,jdbcType=INTEGER}
  </update>
</mapper>