<#assign base = request.contextPath />
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="fyunli">
    <base id="base" href="${base}">
    <title>微信支付宝收银台扫码测试</title>
    <link href="layui/css/layui.css" rel="stylesheet">
</head>

<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
  <legend>微信支付宝收银台扫码测试</legend>
  <div class="container">
 
    <div class="main" align="center">
        <div class="inwrap">
            <h3>#收银台收银测试#</h3>
            <div class="example" >
                <div id="qrcode"></div>
                <div><h4 >请使用支付宝或微信手机客户端扫一扫</h4></div>
            </div>
        </div>
    </div>
</div>
</fieldset>
<!-- Begin page content -->


<footer class="footer">
   
</footer>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="//cdn.jsdelivr.net/ie10-viewport/1.0.0/ie10-viewport.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery/1.12.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="${base}/js/qrcode.min.js"></script>

<script>
	
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        width : 200,
        height : 200
    });
    var qrText = '${baseUrl}/pay/cash.html';
    qrcode.makeCode(qrText);

</script>

</body>
</html>
