<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengaiw.pay.model.dao.mapper.HaAgentMapper">
  <resultMap id="BaseResultMap" type="com.hengaiw.pay.model.dao.model.HaAgent">
    <id column="agent_id" jdbcType="INTEGER" property="agent_id" />
    <result column="agent_name" jdbcType="VARCHAR" property="agent_name" />
    <result column="agent_nickname" jdbcType="VARCHAR" property="agent_nickname" />
    <result column="agent_password" jdbcType="VARCHAR" property="agent_password" />
    <result column="agent_business_no" jdbcType="VARCHAR" property="agent_business_no" />
    <result column="agent_business_date" jdbcType="VARCHAR" property="agent_business_date" />
    <result column="agent_email" jdbcType="VARCHAR" property="agent_email" />
    <result column="agent_user_no" jdbcType="VARCHAR" property="agent_user_no" />
    <result column="agent_user_name" jdbcType="VARCHAR" property="agent_user_name" />
    <result column="agent_user_phone" jdbcType="VARCHAR" property="agent_user_phone" />
    <result column="agent_address" jdbcType="VARCHAR" property="agent_address" />
    <result column="agent_site" jdbcType="VARCHAR" property="agent_site" />
    <result column="agent_icp" jdbcType="VARCHAR" property="agent_icp" />
    <result column="agent_bank_account_name" jdbcType="VARCHAR" property="agent_bank_account_name" />
    <result column="agent_bank_account" jdbcType="VARCHAR" property="agent_bank_account" />
    <result column="agent_bank_name" jdbcType="VARCHAR" property="agent_bank_name" />
    <result column="agent_bank_phone" jdbcType="VARCHAR" property="agent_bank_phone" />
    <result column="agent_status" jdbcType="BIT" property="agent_status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hengaiw.pay.model.dao.model.HaAgent">
    <result column="agent_res" jdbcType="LONGVARCHAR" property="agent_res" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    agent_id, agent_name, agent_nickname, agent_password, agent_business_no, agent_business_date, 
    agent_email, agent_user_no, agent_user_name, agent_user_phone, agent_address, agent_site, 
    agent_icp, agent_bank_account_name, agent_bank_account, agent_bank_name, agent_bank_phone, 
    agent_status, create_time
  </sql>
  <sql id="Blob_Column_List">
    agent_res
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.hengaiw.pay.model.dao.model.HaAgentExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ha_agent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.hengaiw.pay.model.dao.model.HaAgentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ha_agent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ha_agent
    where agent_id = #{agent_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ha_agent
    where agent_id = #{agent_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hengaiw.pay.model.dao.model.HaAgentExample">
    delete from ha_agent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hengaiw.pay.model.dao.model.HaAgent">
    <selectKey keyProperty="agent_id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ha_agent (agent_name, agent_nickname, agent_password, 
      agent_business_no, agent_business_date, 
      agent_email, agent_user_no, agent_user_name, 
      agent_user_phone, agent_address, agent_site, 
      agent_icp, agent_bank_account_name, agent_bank_account, 
      agent_bank_name, agent_bank_phone, agent_status, 
      create_time, agent_res)
    values (#{agent_name,jdbcType=VARCHAR}, #{agent_nickname,jdbcType=VARCHAR}, #{agent_password,jdbcType=VARCHAR}, 
      #{agent_business_no,jdbcType=VARCHAR}, #{agent_business_date,jdbcType=VARCHAR}, 
      #{agent_email,jdbcType=VARCHAR}, #{agent_user_no,jdbcType=VARCHAR}, #{agent_user_name,jdbcType=VARCHAR}, 
      #{agent_user_phone,jdbcType=VARCHAR}, #{agent_address,jdbcType=VARCHAR}, #{agent_site,jdbcType=VARCHAR}, 
      #{agent_icp,jdbcType=VARCHAR}, #{agent_bank_account_name,jdbcType=VARCHAR}, #{agent_bank_account,jdbcType=VARCHAR}, 
      #{agent_bank_name,jdbcType=VARCHAR}, #{agent_bank_phone,jdbcType=VARCHAR}, #{agent_status,jdbcType=BIT}, 
      #{create_time,jdbcType=TIMESTAMP}, #{agent_res,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hengaiw.pay.model.dao.model.HaAgent">
    <selectKey keyProperty="agent_id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ha_agent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="agent_name != null">
        agent_name,
      </if>
      <if test="agent_nickname != null">
        agent_nickname,
      </if>
      <if test="agent_password != null">
        agent_password,
      </if>
      <if test="agent_business_no != null">
        agent_business_no,
      </if>
      <if test="agent_business_date != null">
        agent_business_date,
      </if>
      <if test="agent_email != null">
        agent_email,
      </if>
      <if test="agent_user_no != null">
        agent_user_no,
      </if>
      <if test="agent_user_name != null">
        agent_user_name,
      </if>
      <if test="agent_user_phone != null">
        agent_user_phone,
      </if>
      <if test="agent_address != null">
        agent_address,
      </if>
      <if test="agent_site != null">
        agent_site,
      </if>
      <if test="agent_icp != null">
        agent_icp,
      </if>
      <if test="agent_bank_account_name != null">
        agent_bank_account_name,
      </if>
      <if test="agent_bank_account != null">
        agent_bank_account,
      </if>
      <if test="agent_bank_name != null">
        agent_bank_name,
      </if>
      <if test="agent_bank_phone != null">
        agent_bank_phone,
      </if>
      <if test="agent_status != null">
        agent_status,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="agent_res != null">
        agent_res,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="agent_name != null">
        #{agent_name,jdbcType=VARCHAR},
      </if>
      <if test="agent_nickname != null">
        #{agent_nickname,jdbcType=VARCHAR},
      </if>
      <if test="agent_password != null">
        #{agent_password,jdbcType=VARCHAR},
      </if>
      <if test="agent_business_no != null">
        #{agent_business_no,jdbcType=VARCHAR},
      </if>
      <if test="agent_business_date != null">
        #{agent_business_date,jdbcType=VARCHAR},
      </if>
      <if test="agent_email != null">
        #{agent_email,jdbcType=VARCHAR},
      </if>
      <if test="agent_user_no != null">
        #{agent_user_no,jdbcType=VARCHAR},
      </if>
      <if test="agent_user_name != null">
        #{agent_user_name,jdbcType=VARCHAR},
      </if>
      <if test="agent_user_phone != null">
        #{agent_user_phone,jdbcType=VARCHAR},
      </if>
      <if test="agent_address != null">
        #{agent_address,jdbcType=VARCHAR},
      </if>
      <if test="agent_site != null">
        #{agent_site,jdbcType=VARCHAR},
      </if>
      <if test="agent_icp != null">
        #{agent_icp,jdbcType=VARCHAR},
      </if>
      <if test="agent_bank_account_name != null">
        #{agent_bank_account_name,jdbcType=VARCHAR},
      </if>
      <if test="agent_bank_account != null">
        #{agent_bank_account,jdbcType=VARCHAR},
      </if>
      <if test="agent_bank_name != null">
        #{agent_bank_name,jdbcType=VARCHAR},
      </if>
      <if test="agent_bank_phone != null">
        #{agent_bank_phone,jdbcType=VARCHAR},
      </if>
      <if test="agent_status != null">
        #{agent_status,jdbcType=BIT},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="agent_res != null">
        #{agent_res,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hengaiw.pay.model.dao.model.HaAgentExample" resultType="java.lang.Long">
    select count(*) from ha_agent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ha_agent
    <set>
      <if test="record.agent_id != null">
        agent_id = #{record.agent_id,jdbcType=INTEGER},
      </if>
      <if test="record.agent_name != null">
        agent_name = #{record.agent_name,jdbcType=VARCHAR},
      </if>
      <if test="record.agent_nickname != null">
        agent_nickname = #{record.agent_nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.agent_password != null">
        agent_password = #{record.agent_password,jdbcType=VARCHAR},
      </if>
      <if test="record.agent_business_no != null">
        agent_business_no = #{record.agent_business_no,jdbcType=VARCHAR},
      </if>
      <if test="record.agent_business_date != null">
        agent_business_date = #{record.agent_business_date,jdbcType=VARCHAR},
      </if>
      <if test="record.agent_email != null">
        agent_email = #{record.agent_email,jdbcType=VARCHAR},
      </if>
      <if test="record.agent_user_no != null">
        agent_user_no = #{record.agent_user_no,jdbcType=VARCHAR},
      </if>
      <if test="record.agent_user_name != null">
        agent_user_name = #{record.agent_user_name,jdbcType=VARCHAR},
      </if>
      <if test="record.agent_user_phone != null">
        agent_user_phone = #{record.agent_user_phone,jdbcType=VARCHAR},
      </if>
      <if test="record.agent_address != null">
        agent_address = #{record.agent_address,jdbcType=VARCHAR},
      </if>
      <if test="record.agent_site != null">
        agent_site = #{record.agent_site,jdbcType=VARCHAR},
      </if>
      <if test="record.agent_icp != null">
        agent_icp = #{record.agent_icp,jdbcType=VARCHAR},
      </if>
      <if test="record.agent_bank_account_name != null">
        agent_bank_account_name = #{record.agent_bank_account_name,jdbcType=VARCHAR},
      </if>
      <if test="record.agent_bank_account != null">
        agent_bank_account = #{record.agent_bank_account,jdbcType=VARCHAR},
      </if>
      <if test="record.agent_bank_name != null">
        agent_bank_name = #{record.agent_bank_name,jdbcType=VARCHAR},
      </if>
      <if test="record.agent_bank_phone != null">
        agent_bank_phone = #{record.agent_bank_phone,jdbcType=VARCHAR},
      </if>
      <if test="record.agent_status != null">
        agent_status = #{record.agent_status,jdbcType=BIT},
      </if>
      <if test="record.create_time != null">
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.agent_res != null">
        agent_res = #{record.agent_res,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update ha_agent
    set agent_id = #{record.agent_id,jdbcType=INTEGER},
      agent_name = #{record.agent_name,jdbcType=VARCHAR},
      agent_nickname = #{record.agent_nickname,jdbcType=VARCHAR},
      agent_password = #{record.agent_password,jdbcType=VARCHAR},
      agent_business_no = #{record.agent_business_no,jdbcType=VARCHAR},
      agent_business_date = #{record.agent_business_date,jdbcType=VARCHAR},
      agent_email = #{record.agent_email,jdbcType=VARCHAR},
      agent_user_no = #{record.agent_user_no,jdbcType=VARCHAR},
      agent_user_name = #{record.agent_user_name,jdbcType=VARCHAR},
      agent_user_phone = #{record.agent_user_phone,jdbcType=VARCHAR},
      agent_address = #{record.agent_address,jdbcType=VARCHAR},
      agent_site = #{record.agent_site,jdbcType=VARCHAR},
      agent_icp = #{record.agent_icp,jdbcType=VARCHAR},
      agent_bank_account_name = #{record.agent_bank_account_name,jdbcType=VARCHAR},
      agent_bank_account = #{record.agent_bank_account,jdbcType=VARCHAR},
      agent_bank_name = #{record.agent_bank_name,jdbcType=VARCHAR},
      agent_bank_phone = #{record.agent_bank_phone,jdbcType=VARCHAR},
      agent_status = #{record.agent_status,jdbcType=BIT},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      agent_res = #{record.agent_res,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ha_agent
    set agent_id = #{record.agent_id,jdbcType=INTEGER},
      agent_name = #{record.agent_name,jdbcType=VARCHAR},
      agent_nickname = #{record.agent_nickname,jdbcType=VARCHAR},
      agent_password = #{record.agent_password,jdbcType=VARCHAR},
      agent_business_no = #{record.agent_business_no,jdbcType=VARCHAR},
      agent_business_date = #{record.agent_business_date,jdbcType=VARCHAR},
      agent_email = #{record.agent_email,jdbcType=VARCHAR},
      agent_user_no = #{record.agent_user_no,jdbcType=VARCHAR},
      agent_user_name = #{record.agent_user_name,jdbcType=VARCHAR},
      agent_user_phone = #{record.agent_user_phone,jdbcType=VARCHAR},
      agent_address = #{record.agent_address,jdbcType=VARCHAR},
      agent_site = #{record.agent_site,jdbcType=VARCHAR},
      agent_icp = #{record.agent_icp,jdbcType=VARCHAR},
      agent_bank_account_name = #{record.agent_bank_account_name,jdbcType=VARCHAR},
      agent_bank_account = #{record.agent_bank_account,jdbcType=VARCHAR},
      agent_bank_name = #{record.agent_bank_name,jdbcType=VARCHAR},
      agent_bank_phone = #{record.agent_bank_phone,jdbcType=VARCHAR},
      agent_status = #{record.agent_status,jdbcType=BIT},
      create_time = #{record.create_time,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengaiw.pay.model.dao.model.HaAgent">
    update ha_agent
    <set>
      <if test="agent_name != null">
        agent_name = #{agent_name,jdbcType=VARCHAR},
      </if>
      <if test="agent_nickname != null">
        agent_nickname = #{agent_nickname,jdbcType=VARCHAR},
      </if>
      <if test="agent_password != null">
        agent_password = #{agent_password,jdbcType=VARCHAR},
      </if>
      <if test="agent_business_no != null">
        agent_business_no = #{agent_business_no,jdbcType=VARCHAR},
      </if>
      <if test="agent_business_date != null">
        agent_business_date = #{agent_business_date,jdbcType=VARCHAR},
      </if>
      <if test="agent_email != null">
        agent_email = #{agent_email,jdbcType=VARCHAR},
      </if>
      <if test="agent_user_no != null">
        agent_user_no = #{agent_user_no,jdbcType=VARCHAR},
      </if>
      <if test="agent_user_name != null">
        agent_user_name = #{agent_user_name,jdbcType=VARCHAR},
      </if>
      <if test="agent_user_phone != null">
        agent_user_phone = #{agent_user_phone,jdbcType=VARCHAR},
      </if>
      <if test="agent_address != null">
        agent_address = #{agent_address,jdbcType=VARCHAR},
      </if>
      <if test="agent_site != null">
        agent_site = #{agent_site,jdbcType=VARCHAR},
      </if>
      <if test="agent_icp != null">
        agent_icp = #{agent_icp,jdbcType=VARCHAR},
      </if>
      <if test="agent_bank_account_name != null">
        agent_bank_account_name = #{agent_bank_account_name,jdbcType=VARCHAR},
      </if>
      <if test="agent_bank_account != null">
        agent_bank_account = #{agent_bank_account,jdbcType=VARCHAR},
      </if>
      <if test="agent_bank_name != null">
        agent_bank_name = #{agent_bank_name,jdbcType=VARCHAR},
      </if>
      <if test="agent_bank_phone != null">
        agent_bank_phone = #{agent_bank_phone,jdbcType=VARCHAR},
      </if>
      <if test="agent_status != null">
        agent_status = #{agent_status,jdbcType=BIT},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="agent_res != null">
        agent_res = #{agent_res,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where agent_id = #{agent_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hengaiw.pay.model.dao.model.HaAgent">
    update ha_agent
    set agent_name = #{agent_name,jdbcType=VARCHAR},
      agent_nickname = #{agent_nickname,jdbcType=VARCHAR},
      agent_password = #{agent_password,jdbcType=VARCHAR},
      agent_business_no = #{agent_business_no,jdbcType=VARCHAR},
      agent_business_date = #{agent_business_date,jdbcType=VARCHAR},
      agent_email = #{agent_email,jdbcType=VARCHAR},
      agent_user_no = #{agent_user_no,jdbcType=VARCHAR},
      agent_user_name = #{agent_user_name,jdbcType=VARCHAR},
      agent_user_phone = #{agent_user_phone,jdbcType=VARCHAR},
      agent_address = #{agent_address,jdbcType=VARCHAR},
      agent_site = #{agent_site,jdbcType=VARCHAR},
      agent_icp = #{agent_icp,jdbcType=VARCHAR},
      agent_bank_account_name = #{agent_bank_account_name,jdbcType=VARCHAR},
      agent_bank_account = #{agent_bank_account,jdbcType=VARCHAR},
      agent_bank_name = #{agent_bank_name,jdbcType=VARCHAR},
      agent_bank_phone = #{agent_bank_phone,jdbcType=VARCHAR},
      agent_status = #{agent_status,jdbcType=BIT},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      agent_res = #{agent_res,jdbcType=LONGVARCHAR}
    where agent_id = #{agent_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengaiw.pay.model.dao.model.HaAgent">
    update ha_agent
    set agent_name = #{agent_name,jdbcType=VARCHAR},
      agent_nickname = #{agent_nickname,jdbcType=VARCHAR},
      agent_password = #{agent_password,jdbcType=VARCHAR},
      agent_business_no = #{agent_business_no,jdbcType=VARCHAR},
      agent_business_date = #{agent_business_date,jdbcType=VARCHAR},
      agent_email = #{agent_email,jdbcType=VARCHAR},
      agent_user_no = #{agent_user_no,jdbcType=VARCHAR},
      agent_user_name = #{agent_user_name,jdbcType=VARCHAR},
      agent_user_phone = #{agent_user_phone,jdbcType=VARCHAR},
      agent_address = #{agent_address,jdbcType=VARCHAR},
      agent_site = #{agent_site,jdbcType=VARCHAR},
      agent_icp = #{agent_icp,jdbcType=VARCHAR},
      agent_bank_account_name = #{agent_bank_account_name,jdbcType=VARCHAR},
      agent_bank_account = #{agent_bank_account,jdbcType=VARCHAR},
      agent_bank_name = #{agent_bank_name,jdbcType=VARCHAR},
      agent_bank_phone = #{agent_bank_phone,jdbcType=VARCHAR},
      agent_status = #{agent_status,jdbcType=BIT},
      create_time = #{create_time,jdbcType=TIMESTAMP}
    where agent_id = #{agent_id,jdbcType=INTEGER}
  </update>
</mapper>