
<div class="layui-layout layui-layout-admin">
	<div class="layui-header">
		<div class="layui-logo">恒爱科技--WIFI新零售</div>
		<!-- 头部区域（可配合layui已有的水平导航） -->
		<ul class="layui-nav layui-layout-left">
			<li class="layui-nav-item"><a href="/admin/main">今日汇总</a></li>
			<li class="layui-nav-item"><a href="/admin/good">库存中心</a></li>
			<li class="layui-nav-item"><a href="/admin/order">订单中心</a></li>
			<li class="layui-nav-item"><a href="/admin/user">会员中心</a></li>
			<li class="layui-nav-item"><a href="/admin/sale">营销中心</a></li>
			<li class="layui-nav-item"><a href="/admin/data">数据中心</a></li>
			<li class="layui-nav-item"><a href="/admin/app">应用中心</a></li>
			<!-- <li class="layui-nav-item"><a href="javascript:;">其它系统</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="">邮件管理</a>
					</dd>
					<dd>
						<a href="">消息管理</a>
					</dd>
					<dd>
						<a href="">授权管理</a>
					</dd>
				</dl></li> -->
		</ul>
		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item"><a href="javascript:;">  管理员
			</a></li>
			<li class="layui-nav-item"><a href="/admin/logout">退出</a></li>
		</ul>
	</div>